<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Word2Vec - The Art of Artificial Intelligence</title>
{#    <link rel="stylesheet" type="text/css" href="style.css">#}
</head>
<body>


<button type="button" class="btn btn-primary" id="btnIterate">Fetch pair</button>
<button type="button" class="btn btn-primary" id="btn10Iterations">10 iterations</button>
<button type="button" class="btn btn-primary" id="btn100Iterations">100 iterations</button>
<button type="button" class="btn btn-danger" id="btnResetModel">Reset model</button>


<span id="loss"></span>

<table>
    <tr><td>Word</td><td>Context</td></tr>
    <tr><td id="tdCenterWord"></td><td id="tdContextWord"></td></tr>
</table>

<section class="toprow">

<div>
{% for sentence in sentences %}
    <p class="sentence" id="sentence{{loop.index0}}">
    {% for word in sentence %}
        <span class="word word{{loop.index0}}">{{word}}</span>
    {% endfor %}
        </p>
{% endfor %}
</div>
<div class="lossplot">
</div>
</section>

<section class="heatmaps">

</section>


    <script src="/static/bundle.js"></script>
</body>
</html>