.context {
color: #ff8000;
text-decoration: underline;
}

.center{
color: #c500ff;
border: solid 1px purple;
padding: 2px;
}

.toprow{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.heatmaps{
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.lossplot{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.w1.xaxis text {
    font-size: 10pt;
    text-anchor: start;
    transform: translate(-10pt, -10px) rotate(-90deg);
}

#lossPath {
    stroke: purple;
    stroke-width: 3px;
}

body{
    margin: 20px;
}